captcha==0.3
certifi==2021.10.8
charset-normalizer==2.0.9
docopt==0.6.2
idna==3.3
num2words==0.5.10
password-strength==0.0.3.post2
peewee==3.14.8
Pillow==8.4.0
psycopg2==2.9.2
pyTelegramBotAPI==4.2.2
pyTelegramBotCAPTCHA==1.1.2
python-dotenv==0.19.2
pytz==2021.3
requests==2.26.0
six==1.16.0
urllib3==1.26.7
